<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011615004343-t5a5ha7fc6629722soqio5untltucicq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011615004343-t5a5ha7fc6629722soqio5untltucicq</string>
	<key>API_KEY</key>
	<string>AIzaSyC9FX8RmZK4hu7dHRQZ7t3cDP-IVws_Lyw</string>
	<key>GCM_SENDER_ID</key>
	<string>1011615004343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LeePaper.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-29dce</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-29dce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011615004343:ios:cc1f7d04f74bdaba93bf32</string>
</dict>
</plist>