<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984344850994-4iivsae8pnpp4uo4vlpueghjv2ga29g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984344850994-4iivsae8pnpp4uo4vlpueghjv2ga29g4</string>
	<key>API_KEY</key>
	<string>AIzaSyB8AInQX_ld_X5V92ofoLo-O1HhdKKqRRc</string>
	<key>GCM_SENDER_ID</key>
	<string>984344850994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LeePaper.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-20fb6</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-20fb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984344850994:ios:9be977f155a93cefc8022b</string>
</dict>
</plist>